<div id="header-wrapper">
	<div id="header">
		<div id="blog-title">
          <div horizontal layout>
            <a href="#">
              <h2>Interchange</h2>
            </a>
            <div id="subheading">
              <h3> : Blog (Category Theory × Logic × Programming)</h3>
            </div>
          </div>
		</div>
		<div id="menu">
		  <ul>
		    <li><a href="https://sintrastes.github.io/" accesskey="1" title="">Homepage</a></li>
			<li><a href="https://sintrastes.github.io/blog/archive.html" accesskey="4" title="">Blog</a></li>
			<li>
			  <label class="switch">
			    <img id="contrast" height="16" src="http://sintrastes.github.io/blog/images/contrast.png"></img>
			    <div>
				  <input type="checkbox" onclick="toggleTheme()"/>
              	  <span class="slider round"></span>
                </div>
		      </label>
			</li>	
		  </ul>
		</div>
	</div>	
</div>
<div id="wrapper">
  <div id="three-column" class="container">
  <div class="title">
			<h2>Posts</h2>
		</div>
$partial("templates/post-list.html")$
<div  id="wrapper"><div id="three-column" class="container"></div>
</div>
</div>
