<div id="header-wrapper">
	<div id="header">
		<div id="blog-title">
      <div horizontal layout>
        <a href="#">
          <h2>Interchange</h2>
        </a>
        <h3>&emsp;&emsp;: A blog about category theory, logic, and programming.</h3>
      </div>
      <div style="float: right;">
		<!-- <label class="switch">
			<i class="fas fa-adjust"></i>
				<div>
					<input type="checkbox" onclick="toggleTheme()"/>
              		<span class="slider round"></span>
            	</div>
		</label> !-->
	</div>
		</div>
		<div id="menu">
			<ul>
				<li><a href="../index.html" accesskey="1" title="">Homepage</a></li>
				<li class="active"><a href="#" accesskey="4" title="">Blog</a></li>
			</ul>
		</div>
	</div>	
</div>
$body$
