
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Nathan Bedell</a></h1>
			<h3>Software developer, mathematician, proramming language enthusiast</h3>
		</div>
		<div id="menu">
			<ul>
				<li><a href="httpsL//sintrastes.github.io/" accesskey="1" title="">Homepage</a></li>
				<li><a href="https://www.linkedin.com/in/nathan-bedell-a1b740189/" accesskey="2" title="">Linkedin</a></li>
				<li><a href="https://github.com/Sintrastes" accesskey="3" title="">Github</a></li>
				<li class="active"><a href="#" accesskey="4" title="">Blog</a></li>
				<li><a href="#" accesskey="5" title="">Resume/CV</a></li>
			</ul>
		</div>
	</div>	
</div>
<div id="wrapper">
  <div id="three-column" class="container">
  <div class="title">
			<h2>Nathan's dev blog</h2>
		</div>

<p>
All relevant code snippets in my blog are made available to use under the MIT license:
</p>

<h2>MIT License Terms</h2>

<p>
Copyright 2021 Nathan Bedell
</p>

<p>
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
</p>

<p>
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
</p

<p>
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
</p>

<div  id="wrapper"><div id="three-column" class="container"></div>
</div>
</div>
