<div id="wrapper">
  <div>
    <article>
        <section class="header">
          <div class="title">
            <h2>$title$</h2>
            <p>
              Posted on $date$
              $if(author)$
                by $author$
              $endif$
            </p>
          </div>
        </section>
        <section class="container" id="body">
            $body$
			<script src="https://utteranc.es/client.js"
		      repo="Sintrastes/sintrastes.github.io"
              issue-term="title"
              theme="boxy-light"
              crossorigin="anonymous"
            async>
        </script>
        </section>
    </article>
    <div id="wrapper">
  </div>
</div>
