<div id="wrapper">
  <div>
    <article>
        <section class="header">
          <div class="title">
            <h2>$title$</h2>
            <p>
              Posted on $date$
              $if(author)$
                by $author$
              $endif$
              $if(tags)$
                Tags: $tags$
              $endif$
            </p>
          </div>
        </section>
        <section class="container" id="body">
            $body$
        </section>
    </article>
    <div id="wrapper">
  </div>
</div>
